<div class="page-right-sidebar" id="chat-right-sidebar">
  <div class="page-right-sidebar-inner">
    <div class="right-sidebar-top">
      <div class="chat-top-info">
        <span class="chat-name">Noah</span>
        <span class="chat-state">2h ago</span>
      </div>
      <a href="javascript:void(0)" class="right-sidebar-toggle chat-sidebar-close float-right" data-sidebar-id="chat-right-sidebar"><i class="icon-keyboard_arrow_right"></i></a>
    </div>
    <div class="right-sidebar-content">
      <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;"><div class="right-sidebar-chat slimscroll" style="overflow: hidden; width: auto; height: 250px;">
        <div class="chat-bubbles">
          <div class="chat-start-date">02/06/2017 5:58PM</div>
          <div class="chat-bubble them">
            <div class="chat-bubble-img-container">
              <%= image_tag 'avatars/avatar1.png', alt: "" %>
            </div>
            <div class="chat-bubble-text-container">
              <span class="chat-bubble-text">Hello</span>
            </div>
          </div>
          <div class="chat-bubble me">
            <div class="chat-bubble-text-container">
              <span class="chat-bubble-text">Hello!</span>
            </div>
          </div>
          <div class="chat-start-date">03/06/2017 4:22AM</div>
          <div class="chat-bubble me">
            <div class="chat-bubble-text-container">
              <span class="chat-bubble-text">lorem</span>
            </div>
          </div>
          <div class="chat-bubble them">
            <div class="chat-bubble-img-container">
              <%= image_tag 'avatars/avatar1.png', alt: "" %>
            </div>
            <div class="chat-bubble-text-container">
              <span class="chat-bubble-text">ipsum dolor sit amet</span>
            </div>
          </div>
        </div>
      </div><div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 6px; position: absolute; top: 0px; opacity: 0.2; display: none; border-radius: 0px; z-index: 99; right: 0px; height: 556px;"></div><div class="slimScrollRail" style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 0px;"></div></div>
      <div class="chat-write">
        <form class="form-horizontal" action="javascript:void(0);">
          <input type="text" class="form-control" placeholder="Say something">
        </form>
      </div>
    </div>
  </div>
</div>