<div class="settings-sidebar">
  <div class="settings-sidebar-content">
    <div class="settings-sidebar-header">
      <span>Settings</span>
      <a href="javascript: void(0);" class="settings-menu-close"><i class="icon-close"></i></a>
    </div>
    <div class="right-sidebar-settings">
      <span class="settings-title">General Settings</span>
      <ul class="sidebar-setting-list list-unstyled">
        <li>
          <span class="settings-option">Notifications</span><input type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="background-color: rgb(99, 114, 130); border-color: rgb(99, 114, 130); box-shadow: rgb(99, 114, 130) 0px 0px 0px 11px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;"><small style="left: 13px; background-color: rgb(255, 255, 255); transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
        </li>
        <li>
          <span class="settings-option">Activity log</span><input type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="background-color: rgb(99, 114, 130); border-color: rgb(99, 114, 130); box-shadow: rgb(99, 114, 130) 0px 0px 0px 11px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;"><small style="left: 13px; background-color: rgb(255, 255, 255); transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
        </li>
        <li>
          <span class="settings-option">Automatic updates</span><input type="checkbox" class="js-switch" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
        </li>
        <li>
          <span class="settings-option">Allow backups</span><input type="checkbox" class="js-switch" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
        </li>
      </ul>
      <span class="settings-title">Account Settings</span>
      <ul class="sidebar-setting-list list-unstyled">
        <li>
          <span class="settings-option">Chat</span><input type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="background-color: rgb(99, 114, 130); border-color: rgb(99, 114, 130); box-shadow: rgb(99, 114, 130) 0px 0px 0px 11px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;"><small style="left: 13px; background-color: rgb(255, 255, 255); transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
        </li>
        <li>
          <span class="settings-option">Incognito mode</span><input type="checkbox" class="js-switch" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
        </li>
        <li>
          <span class="settings-option">Public profile</span><input type="checkbox" class="js-switch" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
        </li>
      </ul>
    </div>
  </div>
</div>