<div class="page-sidebar">
  <div class="profile-menu">
    <a href="#">
      <%= image_tag 'avatars/avatar1.png', alt: "" %>
    </a>
  </div>
  <div class="page-sidebar-inner">
    <div class="page-sidebar-menu">
      <ul>
        <li>
          <a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="Dashboard"><i class="fas fa-rocket"></i></a>
        </li>
        <li>
          <a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="News"><i class="fas fa-globe-africa"></i></a>
        </li>
        <li>
          <a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="Inbox"><i class="fas fa-inbox"></i></a>
        </li>
        <li>
          <a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="Chat"><i class="far fa-comments"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="settings-menu-btn">
    <a href="#" class="settings-menu-link"><i class="fas fa-wrench"></i></a>
  </div>
</div><!-- /Page Sidebar -->